.first
{
	color:green;
	text-align:center;
}
.second
{
	color:blue;
}
.third
{
	<img border-style:dotted>
}

.fourth
{
	text-align:center;
}
.fifth
{
	color:green;
	text-align:left;
}
.six
{
	color:blue;
	text-align:right;
}
.seventh
{
	color:green;
	text-align:center;
}
.eight
{
	color:blue;
}
.nine
{
	color:blue;
	text-align:center;
}
.ten
{
	color:green;
	text-align:center;
}



